a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: rgb(253, 247, 232);
  border-radius: 20px 20px 5px 5px;
  /* width: 50px; */
  height: 20px;
  padding: 0 16px;
  margin: 4px;
  border: 2.5px solid rgba(0, 0, 0, 0.048);
}

.left {
  border-radius: 5px 20px 5px 20px;
}

.right {
  border-radius: 20px 5px 20px 5px;
}

img {
  /* width: 150px; */
  height: 250px;
  border-radius: 5px 5px 5px 5px;
}

body {
  text-align: center;
}

h1 {
  text-align: center;
  /* text-decoration:; */
  /* text-shadow:; */
}

p {
  text-align: center;
}

li {
  width: 50px;
  margin: auto;
}

h1.red, li.red {
  background-color: rgb(255, 159, 159);
}

h1.orange, li.orange {
  background-color: rgb(255, 214, 167);
}

h1.yellow, li.yellow {
  background-color: rgb(247, 255, 130);
}

h1.green, li.green {
  background-color: rgb(121, 255, 139);
}

h1.blue, li.blue {
  background-color: rgb(187, 228, 255);
}

h1.violet, li.violet {
  background-color: rgb(240, 202, 255);
}

.red a {
  border-color: rgb(255, 159, 159);
}

.orange a {
  border-color: rgb(255, 214, 167);
}

.yellow a {
  border-color: rgb(247, 255, 130);
}

.green a {
  border-color: rgb(121, 255, 139);
}

.blue a {
  border-color: rgb(187, 228, 255);
}

.violet a {
  border-color: rgb(240, 202, 255);
}

